/* @keyframes slide1{
    from{
        transform: translateX(-100%);
    }
        to{
            transform: translateX(0);
        }
}
@keyframes slide2{
  from{
    transform: translateX(100%);
  }
    to{
        transform: translateX(0);
    }
}
@keyframes slide3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes top {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes bottom {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes left {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes right {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
} */
