@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    header {
        height: 80px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius: 30px 30px 0px 0px;
        color: white;
        font-size: 1.rem;
        position: absolute;
        width: 100%;
        height: 145px;
        left: 0px;
        top: 0px;
        padding: 1rem 0;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    header nav ul {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    header nav .logo {
        display: flex;
        justify-content: center;
        padding-right: 7rem;
        width: 100%;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .container {
        width: 100%;
        margin: 0 auto;
        background: url("../img/Coffe Header.png");
        background-position-x: right 32px;
        background-size: cover;
        color: white;
        border-radius: 20px;
    }

    .content {
        background: rgba(20, 54, 66, 0.7);
    }

    main .isi {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
    }

    main .isi span {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 2rem;
    }

    /* section */
    section {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        white-space: nowrap;
    }

    section .box1 img {
        width: 100% auto;
        height: 70%;
    }

    section .box2 img {
        width: 100%;
        height: 50%;
    }

    section .box3 img {
        width: 100%;
        height: 100%;
        white-space: wrap;
    }

    section .box1 {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        white-space: wrap;
    }

    section .box3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        white-space: nowrap;
    }

    section .isi .box1 h3 {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        white-space: wrap;
        font-size: 10px;
        padding: 20px;
    }

    section .box2 .isi h3 {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        white-space: nowrap;
        font-size: 40px;
    }

    article {
        margin: 0;
        display: flex;
        width: 100%;
        height: 100%;
        white-space: wrap;
        font-size: 20px;
        padding: 20px;
    }
    article h1 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
        justify-content: center;
    }
    article span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
    }

    }
    article img {
        width: 100%;
        height: 100%;
        white-space: nowrap;
        align-items: center;
    }
    article figure {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(1, 110px);
    grid-gap: 10px;
    }

      
@media (max-width: 768px) and (min-width: 320px){
    /* FOOTER */
    footer .logo-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        column-gap: 1px;
        width: 10%;
        padding: 20px;
        cursor: pointer;
    }
    footer .logo-footer figure img{
        width: 20rem;
    }
    figure{ 
        filter: brightness(0) invert(1);
    }
    footer {
        background-color: rgba(20, 54, 66, 1);
        width: 100%;
        padding: 20px;
        color: white;
      }
      .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: column;
        column-gap: 12px;
        width: 100%;
        white-space: nowrap;

      }
        .footer-bottom ul{
            font-weight: 400;
            font-family: 'Lato';
            font-size: 13px;
            line-height: 1.5;
            cursor: pointer;
        }
        .footer-bottom ul li{
            list-style: none;
            padding: 10px;
        }
    
}