/* footer */
footer .logo-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 10px;
    width: 90%;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}

.logo-footer figure img {
    margin-right: 60px;
}

.logo2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    column-gap: 20px;
}

footer {
    background-color: rgba(20, 54, 66, 1);
    width: 100%;
    padding: 20px;
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: column;
    column-gap: 20px;
    width: 100%;
}

.footer-bottom ul a {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Lato';
}

.footer-bottom ul li {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Lato';
}

/* RESPONSIVE */

@media (max-width: 768px) and (min-width: 320px) {
    /* FOOTER */
footer .logo-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        column-gap: 1px;
        width: 100%;
        padding: 20px;
        cursor: pointer;
    }
}
footer .logo-footer figure img {
    width: 24rem;
    height: 4rem;
}

footer {
    background-color: rgba(20, 54, 66, 1);
    width: 100%;
    color: white;
}

footer.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: column;
    column-gap: 11px;
    width: 100%;
    white-space: nowrap;
    font-size: 10px;
    
}

.footer-bottom ul a {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato';
}

.footer-bottom ul li {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato';
    white-space: nowrap;
}