main{
display: flex;
flex-direction: column;
justify-content: center;
font-family: 'Roboto', sans-serif;
font-size: 16px;
padding-bottom: 50px;
}
main h1 {
position: relative;
font-size: 40px;
font-weight: 600;
Line-height:57.6px;
color: rgba(15, 139, 141, 1);
padding-right: 250px;
margin-bottom:20px;
}
form{
display: flex;
flex-direction: column;
width: 100%;
padding-left: 50px;
}

form label {
    display: flex;
    flex-direction:row;
    font-size: 20px;
    color: rgba(20, 54, 66, 1);
    font-weight: 700;
    Line-height: 36px;
    white-space: wrap;
    column-gap: 100px;
}
form label:nth-child(4){
    column-gap: 82px;
}
form label:nth-child(5){
    column-gap: 67px;
}
.help{
display: flex;
flex-direction: column; 
border: 1px solid rgba(210, 210, 210, 1);
border-radius: 5px;
padding:10px;
color:rgba(20, 54, 66, 1);
width: 50%;
height: 100%;
margin: 0 auto;
}

.help button{
justify-content: center;
background-color: rgba(168, 32, 26, 1);
color: white;
border-radius: 20px;
border: none;
white-space: nowrap;
width: 20%;
padding: 10px;
margin-left: 240px;
}
.help input{
    padding-left: 120px;
}
.help input[type="text"]{
border: 1px solid rgba(210, 210, 210, 1);
border-radius: 5px;
padding: 10px;
margin: 10px;
width: 60%;
}

.help input[type="search"]{
border: 1px solid rgba(210, 210, 210, 1);
border-radius: 5px;
padding: 10px;
margin: 10px;
width: 60%;
}
.help input[type="text"]:focus{
outline: none;
}
.help input[type="text"]:hover{
border: 1px solid rgba(168, 32, 26, 1);
}
.help input[type="email"]{
border: 1px solid rgba(210, 210, 210, 1);
border-radius: 5px;
padding: 10px;
margin: 10px;
width: 60%;
}
.help input[type="email"]:focus{
outline: none;
}
.help input[type="email"]:hover{
border: 1px solid rgba(168, 32, 26, 1);
}
.help input[type="phone"]{
border: 1px solid rgba(210, 210, 210, 1);
border-radius: 5px;
padding: 10px;
margin: 4px;
width: 60%;
}
.help input[type="phone"]:focus{
outline: none;
}
.help input[type="phone"]:hover{
border: 1px solid rgba(168, 32, 26, 1);
}
.help textarea{
border: 1px solid rgba(210, 210, 210, 1);
border-radius: 5px;
padding: 10px;
width: 60%;
margin: 15px;
}
.help textarea:focus{
outline: none;
}
@media (min-width: 320px) and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding-bottom: 50px;
        }
        main h1 {
        position: relative;
        padding-right: 14px;
        font-size: 30px;
        font-weight: 600;
        Line-height:57.6px;
        color: rgba(15, 139, 141, 1);
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 50px;
            }
            form label {
                display: flex;
                flex-direction:column;
                font-size: 12x;
                color: rgba(20, 54, 66, 1);
                font-weight: 700;
                Line-height: 36px;
                white-space: nowrap;
                column-gap: 100px;
            }
            .help{
                display: flex;
                flex-direction: column; 
                border: 1px solid rgba(210, 210, 210, 1);
                border-radius: 5px;
                padding:20px;
                color:rgba(20, 54, 66, 1);
                width: 85%;
                height: 100%;
                margin: 0 auto;
                }
                .help button{
                    display: flex;
                    justify-content: center;
                    background-color: rgba(168, 32, 26, 1);
                    color: white;
                    border-radius: 20px;
                    border: none;
                    white-space: nowrap;
                    width: 50%;
                    padding: 10px;
                    margin-left: 70px;
                }
                
}
