@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
}

@media (max-width: 768px) and (min-width: 320px){
   header {
       background: #fff;
       height: 80px;
       width: 100%;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 999;
       box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   }
}
@media (max-width: 768px) and (min-width: 320px) {
   header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F8B8D;
    padding: 1rem;
    border-radius: 30px 30px 0px 0px;
    color: white;
    font-size: 1.rem;
    position: absolute;
    width: 100%;
    height: 145px;
    left: 0px;
    top: 0px;
    padding: 1rem 0;
    }
}
@media (max-width: 768px) and (min-width: 320px) {
   header nav ul {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    width: 100%;
    }
}
@media (max-width: 768px) and (min-width: 320px) {
   header nav .logo {
    display: flex;
    justify-content: center;
    padding-right: 7rem;
    width: 100%;    
    }
}
@media (max-width: 768px) and (min-width: 320px) {
    main .container .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(15, 139, 141, 1);
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
    }
}
@media (max-width: 768px) and (min-width: 320px) {
    main .container .content h1 {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) and (min-width: 320px) {
    main .container .content span {
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        margin-bottom: 1rem;
        padding-top: 0.1rem;

    }
}
/* container coffe */
/*  */
@media (max-width: 768px) and (min-width: 320px) {
    main .container .coffe {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(1, 250px);
        grid-gap:1rem;
        white-space: nowrap;
        padding: 1rem;
    }
}
@media (max-width: 768px) and (min-width: 320px) {
    main .coffe img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}


/* footer */

@media (max-width: 768px) {
    footer {
        margin:0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        white-space: wrap;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    footer .footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: 100%;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    footer .footer .store{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato';
        color: rgba(236, 154, 41, 1);
        padding-bottom: 1px;
    }
}
@media (max-width: 768px) {
    footer .footer li{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato';
        color: rgba(236, 154, 41, 1);
        padding-bottom: 1px;
        padding-left: 30px;
    }
}
