/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}
ul {
  list-style: none;

}
li {
  list-style: none;

}
a {
  text-decoration: none;


}
.container {
    width: 100%;
    margin: 0 auto;
    background: url("../img/Coffe Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    color: white;
    border-radius: 20px;
}
.content{
  background: rgba(20, 54, 66, 0.7);
  width: 100%;
  margin: 0 ;
  height: 100vh;
  width: 100vw;
  width: 100%;
  border-radius: 20px;
}
.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    width: 100%;
}
.content header nav {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 46px;
  column-gap: 20px;

}
.content header img{
    display: flex;
    align-items: center;
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 90px;
}
.content header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    
    color: white;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    font-family: 'Lato';
}
.container main{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    line-spacing: 1.5;
    font-weight: 800;
    line-height:84px;
    padding-bottom: 150px;
    font-family: 'Lato';
    white-space: nowrap;
}
footer {
  background-color: rgba(20, 54, 66, 1);
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
footer figure{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;  
}
footer figure .icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  white-space: nowrap;
}


footer .footer {
  margin: 20px;
  column-gap: 20px;
  line-height: 1.5;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
   width: 100%;
  padding: 0 20px;
  white-space: nowrap;

}
.footer .product h3{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lato';
  color: rgba(236, 154, 41, 1);
  padding: 0 20px;
}
.footer .store h3{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lato';
  color: rgba(236, 154, 41, 1);
  padding: 0 20px;
}
.footer .contact h3{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lato';
  color: rgba(236, 154, 41, 1);
  padding: 0 20px;
}